.m-heroe-dl {
  display: block;
  margin: 2rem auto;
  width: 60%;
  box-sizing: border-box;
  max-width: 1920px;

  &__card {
    font-size: 1.5rem;
  }

  &__main-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 0.5em;
    margin: 1rem 0;
  }
}
