<section class="m-basic-counter">
  <app-h1
  [textContent]="textContent"
  >
  </app-h1>
  <hr>

  <div class="m-basic-counter__main-content">
    <app-label
    [labelContent]="labelContent"
    >
    </app-label>
    <app-paragraph
    [paragraphContent]="paragraphContent"
    >
    </app-paragraph>
  </div>
  <div class="m-basic-counter__main-buttons">
    <app-button
    [textContent]="'+1'"
    >
    </app-button>
    <app-button
    [textContent]="'-1'"
    >
    </app-button>
  </div>
</section>
