.m-basic-counter {
  display: block;
  margin: 2rem auto;
  width: 50%;
  box-sizing: border-box;
  max-width: 1920px;

  &__main-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
    gap: 1em;
    margin: 0;
  }

  &__main-content {
    display: flex;
    align-items: center;
    gap: 1em;
  }

}

