.m-basic-counter {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1920px;

  &__main-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    gap: 1em;
    margin: 0;
  }
}

