<h3>Listado de Héroes</h3>
<hr>
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h4>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h4>
</div>
<ng-template #nothingWasDeleted>
  <h4>No ha borrado nada</h4>
</ng-template>
<app-button
*ngIf="heroNames.length > 0"
[textContent]="'Borrar último héroe'"
[className]="'btn btn-outline-danger'"
(clicked)="removeLastHero()"
></app-button>

<ul class="mt-2 list-group">
  <li *ngFor="let hero of heroNames" class="list-group-item"> {{ hero }} </li>
</ul>
