.a-spinner-container {
  align-items: center;
  background-color: #000;
  border-radius: 20px;
  bottom: 2rem;
  color: #fff;
  display: flex;
  padding: 5px 10px;
  position: fixed;
  right: 2rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

span {
  margin-left: 5px;
}
