<div class="a-list-group-item__title">
  <h4> {{listTitle}} </h4>
</div>
<ul class="list-group">

  <!--
    Verifica si el elemento es
        Es Primero
        Es Ultimo
        Es Par
        Es Impar
  -->
  <li *ngFor="let character of characters;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    "
    class="list-group-item"
    [ngClass]="{
      'list-group-item-warning':isFirst,
      'list-group-item-success':isLast,
    }
    ">

    <span class=""> {{ i+1 }}.- </span>

    <span> {{ character.name}} - </span>

    <strong>Power:</strong>

    <span>{{character.power }}</span>

  </li>

</ul>
