<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Lift Angular</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/hola-mundo" routerLinkActive="active" >Contador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dragon-ball-z/main" routerLinkActive="active">Dragon Ball Z</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gifs/main" routerLinkActive="active">Gifs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Héroes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/heroes/heroe" routerLinkActive="active">Héroe</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="heroes/listado" routerLinkActive="active">Listado de Héroes</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
