<app-h2
[textContent]="'Por Capital'"
>
</app-h2>
<hr>
<div class="row">
  <div class="col">
   <app-search-box-debounce
   [placeholder]="'Buscar Capital...'"
   (OnTextDebounceInput)="searchByCapital($event)"
   >
  </app-search-box-debounce>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <app-country-table
      [captionTable]="'Capital'"
      [countries]="countries"
      >
      </app-country-table>
  </div>
</div>
