<div class="m-form-character__title">
  <h4>
    {{titleForm}}
  </h4>
</div>
<form
[ngClass]="className"
[formGroup]="formCharacter"
>
  <app-input-form-control
  [inputType]="'text'"
  [placeholder]="'Nombre'"
  [className]="'form-control mb-2'"
  [control]="getControl('name')"
  >
  </app-input-form-control>

  <app-input-form-control
  [inputType]="'number'"
  [placeholder]="'Poder'"
  [className]="'form-control mb-2'"
  [control]="getControl('power')"
  >
  </app-input-form-control>

  <app-button
  [textContent]="'Agregar'"
  [typeButton]="'submit'"
  (clicked)="emitCharacter()"
  >
  </app-button>
</form>
