<ng-template  #loading>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">

    <div class="col-12">
         <h2>País:  <strong> {{country.name.common }} </strong>      </h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-4">
      <app-image-card
      [src]="country.flags.svg"
      [alt]="country.name.common"
      [className]="'img-thumbnail'"
      >
      </app-image-card>
    </div>
    <div class="col">
      <app-h3
      [textContent]="'Información'"
      >
      </app-h3>
      <ul class="list-group">
          <li class="list-group-item"> <strong> Población: </strong>  {{country.population | number }} </li>
          <li class="list-group-item"> <strong> Código: </strong>  {{country.cca3 }} </li>
          <li class="list-group-item"> <strong> Lenguajes: </strong>  {{ languajes }} </li>
          <li class="list-group-item"> <strong> Moneda: </strong>  {{ currencies }} </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
      <div class="col">
        <app-h3
        [textContent]="'Traducciones'"
        >
        </app-h3>
        <div class="d-flex flex-wrap">
            <span class="badge bg-primary m-1" *ngFor="let translation of translations">  {{ translation.common }} </span>
        </div>
      </div>
  </div>

</div>
