<style>


  @media (min-width: 769px) {
  .mobile {
      display: none;
  }

  .desktop{
      display: block;
  }

   h1.titulo-principal {
          margin-left: 45px;
      }


  }


  @media (max-width: 768px){
  .mobile {
      display: block;
  }

  .desktop{
      display: none;
  }


  h6.card-descripcion, p.boton
  {
  text-align:center;
  }



  }

  </style>


  <div class="container">


    <div class="row">
  <br>
  <div align="center"><h3>Te hacemos la vida más fácil</h3></div>
  <br>
  </div>


              <div class="row">

     <div class="col-xs-12 col-md-6" style="padding-bottom: 4%;">


                          <a href="http://tosto.re/banistmoapppersonas" title="" target="">
                              <div align="center">

  <img src="../../../../../assets/images/Banistmo-App.webp?MOD=AJPERES" alt="Banistmo App" width="100%" title="Banistmo App" style="max-width:720px; max-height:155px;" />

  </div>

                          </a>


   <div style="text-align: left;">


  <div class="col-xs-12 col-sm-12" style="background-color: #59CBE8;">
  <br>
                              <h6 class="card-descripcion">Banistmo App, soluciones simples para acercarnos más a ti.</h6>

      <br>

  <div class="desktop" style="margin-top:20px;">
  </div>

       <p class="boton">
   <a href="http://tosto.re/banistmoapppersonas" title="" target="" class="btn btn-default" id="Banistmo App">
                CONOCE MÁS
        </a>
  </p>
  <br>
        </div>

                      </div>

  </div>



     <div class="col-xs-12 col-md-3" style="padding-bottom: 4%;">



   <div>
                          <a href="/wps/portal/banistmo/personas/productos-y-servicios/canales/comercios-autorizados">

                              <div align="center">
  <img src="../../../../../assets/images/CNB.webp?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_2G9I1K41NGEQ90QLOF5K4B14K3-3ba37531-ac47-4c26-9aae-4fe00512b4f7-oCVlXAx" alt="Comercios Autorizados" width="100%" title="Comercios Autorizados" style="max-width:720px; max-height:155px;" />


  </div>

                          </a>


   <div style="text-align: left;">


  <div class="col-xs-12 col-sm-12" style="background-color: #F5B6CD;">
  <br>
                              <h6 class="card-descripcion">Conoce las ventajas de los Comercio Autorizado que están cerca de ti.</h6>

  <div class="mobile">
  <br>
  </div>

  <p class="boton">
   <a href="/wps/portal/banistmo/personas/productos-y-servicios/canales/comercios-autorizados" class="btn btn-default" id="Comercios Autorizados">
                CONOCE MÁS
        </a>
  </p>
  <br>
        </div>

                      </div>

  </div>
  </div>


    <div class="col-xs-12 col-md-3" style="padding-bottom: 4%;">


   <div>
                          <a href="https://asegurate.segurossura.com.pa/?codigo=33734" target="_blank" title="">
                              <div align="center">

  <img src="../../../../../assets/images/Seguros.webp?MOD=AJPERES" alt="Seguros" width="100%" title="Seguros" style="max-width:720px; max-height:155px;" />

  </div>

                          </a>


   <div style="text-align: left;">


  <div class="col-xs-12 col-sm-12" style="background-color: #FDDA24;">
  <br>
                              <h6  class="card-descripcion">La familia es lo más importante, asegura su futuro con nosotros.</h6>

  <div class="mobile">
  <br>
  </div>

  <p class="boton">
   <a href="https://asegurate.segurossura.com.pa/?codigo=33734" title="" target="" class="btn btn-default" id="Seguros">
                CONOCE MÁS

        </a>
  </p>

  <br>
        </div>

                      </div>

  </div>
  </div>



  </div>

  </div>
