<div *ngIf="countries.length === 0; else table" class="alert alert-warning">
    No hay países que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <caption>Table of list Countries by {{captionTable}} </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td> {{i+1}}  </td>
        <td>
          <app-image-card
          [src]="country.flags.svg"
          [className]="'a-img-card'"
          [alt]="country.name.common"
          >
          </app-image-card>
        </td>

        <td> {{country.name.common}} </td>
        <td> {{country.capital}} </td>
        <td> {{country.population | number }} </td>
        <td> <a [routerLink]="['/countries/main/by', country.cca3]">Ver mas...</a> </td>

      </tr>
    </tbody>
  </table>

</ng-template>
