<app-h2
[textContent]="'Por Región'"
>
</app-h2>
<hr>
<div class="row">
  <div class="text-center">
   <app-button
   *ngFor="let region of regions"
   [textContent]="region"
   (clicked)="searchByRegion(region)"
   [className]="'btn a-button__region'"
   [ngClass]="{'btn-primary': selectedRegion === region,'btn-outline-primary': selectedRegion !== region}"
   >
   </app-button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
      <app-country-table
      [captionTable]="'Región'"
      [countries]="countries"
      >
      </app-country-table>
  </div>
</div>
